Repository siropaca/text-to-speech-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, type-check, format-package

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,json}'
      run: pnpm run lint:fix
    type-check:
      glob: '*.{ts,tsx}'
      run: pnpm run typecheck
    format-package:
      glob: 'package.json'
      run: pnpm run format:package

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

chore: pnpm-lockファイルの整形修正
  eslint.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: lint, type-check

test: CLIおよびFileReaderのテスト追加
  CLAUDE.md
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/fileReader.ts
  tests/bin/cli.test.ts
  tests/src/fileReader.test.ts
  tsconfig.json
Due: lint, type-check, format-package

chore: package.jsonのスクリプト修正
  package.json
Due: lint, format-package

docs: CLAUDE.mdのガイドライン更新
  CLAUDE.md
Due: none

chore: .claude/settings.jsonにPostToolUseフックを追加
  .claude/settings.json
Due: lint

chore: .gitignoreと依存パッケージの更新
  .env.example
  .gitignore
  bin/cli.ts
  package.json
  pnpm-lock.yaml
  sample/test.md
  sample/test.mp3
  src/textToSpeech.ts
Due: lint, type-check, format-package

chore: .env.exampleのサンプル値修正
  .env.example
Due: none

docs: CLAUDE.mdおよびREADME.mdの更新
  CLAUDE.md
  README.md
Due: none

chore: prettierignoreと設定ファイルの更新
  .claude/settings.json
  .prettierignore
  CLAUDE.md
  README.md
  bin/cli.ts
Due: lint, type-check

refactor: 型定義とコードのリファクタリング
  eslint.config.ts
  src/textToSpeech.ts
  tests/bin/cli.test.ts
Due: lint, type-check

docs: elevenlabs-api.mdの追加
  CLAUDE.md
  elevenlabs-api.md
Due: none

docs: elevenlabs-api.mdのパス修正
  CLAUDE.md
  docs/elevenlabs-api.md
Due: none

refactor: テストファイルと構成のリファクタリング
  CLAUDE.md
  bin/cli.test.ts
  jest.config.js
  sample/test.md
  spec.md
  src/fileReader.ts
  tests/bin/cli.test.ts
  tests/src/fileReader.test.ts
Due: lint, type-check

chore: テストファイルの変更
  sample/test.mp3
Due: none

chore: 設定ファイルの不要なキー削除
  .claude/settings.json
Due: lint

chore: tsconfig.jsonのexclude設定更新
  tsconfig.json
Due: lint

chore: sample-testスクリプトの追加
  package.json
Due: lint, format-package

feat(src): ElevenLabs TTSプロバイダーの実装
  CLAUDE.md
  bin/cli.ts
  jest-setup.ts
  jest.config.js
  sample/test.mp3
  src/providers/elevenlabs.ts
  src/textToSpeech.ts
  src/types/tts.ts
  src/utils/file.test.ts
  src/utils/file.ts
Due: lint, type-check

docs: ElevenLabsドキュメントのリネーム
  docs/elevenlabs.md
Due: none

chore: 不要なメインエントリーポイントの削除
  CLAUDE.md
  package.json
  src/index.ts
Due: lint, type-check, format-package

docs: ドキュメントとガイドラインの更新
  CLAUDE.md
  README.md
  docs/elevenlabs.md
Due: none

refactor(src): Azure関連コードの削除
  src/textToSpeech.ts
  src/types/tts.ts
Due: lint, type-check

refactor(bin): 未実装オプションのコメントアウト
  bin/cli.ts
Due: lint, type-check

refactor(docs): デフォルトモデルIDの更新
  README.md
  docs/elevenlabs.md
  src/providers/elevenlabs.ts
Due: lint, type-check

feat(src): ElevenLabsモデルID型定義の追加
  README.md
  bin/cli.ts
  sample/test.mp3
  src/providers/elevenlabs.ts
  src/types/tts.ts
Due: lint, type-check

docs(src): 関数にJSDocコメントを追加
  src/providers/elevenlabs.ts
  src/textToSpeech.ts
  src/utils/file.ts
Due: lint, type-check

refactor(types): 型定義ファイルの分割と整理
  bin/cli.ts
  src/providers/elevenlabs.ts
  src/textToSpeech.ts
  src/types/amazon.ts
  src/types/common.ts
  src/types/elevenlabs.ts
  src/types/google.ts
  src/types/index.ts
  src/types/tts.ts
Due: lint, type-check

feat(constants): ElevenLabs関連定数とテストの追加
  CLAUDE.md
  README.md
  bin/cli.test.ts
  bin/cli.ts
  src/constants/elevenlabs.test.ts
  src/constants/elevenlabs.ts
  src/providers/elevenlabs.ts
  src/types/elevenlabs.ts
  src/types/index.ts
Due: lint, type-check

refactor(constants): ElevenLabs関連定数の型定義を明確化
  src/constants/elevenlabs.ts
Due: lint, type-check

refactor(types): ElevenLabsオプション型定義の整理
  package.json
  sample/test.mp3
  src/types/elevenlabs.ts
Due: lint, type-check, format-package

refactor(src): マークダウン整形とモデルID関連コードの整理
  sample/test.mp3
  src/constants/elevenlabs.ts
  src/providers/elevenlabs.ts
  src/textToSpeech.ts
Due: lint, type-check

refactor(types): Google オプション型定義のコメント修正
  src/types/google.ts
Due: lint, type-check

feat(bin): 読み上げスピード設定オプションの追加
  README.md
  bin/cli.ts
  sample/test.mp3
  src/constants/elevenlabs.ts
  src/providers/elevenlabs.ts
  src/types/elevenlabs.ts
Due: lint, type-check

feat(utils): ロガーとTTSオプション生成機能の実装
  bin/cli.test.ts
  bin/cli.ts
  sample/test.mp3
  src/constants/elevenlabs.test.ts
  src/utils/logger.ts
  src/utils/options.ts
Due: lint, type-check

refactor(dependencies): パッケージ依存関係の更新
  bin/cli.test.ts
  package.json
  pnpm-lock.yaml
Due: lint, type-check, format-package

ci(workflows): CI用GitHub Actionsワークフローファイルの追加
  .github/workflows/ci.yml
Due: none

refactor(constants): デフォルトモデルIDと関連コードの整理
  sample/test.mp3
  src/constants/elevenlabs.ts
  src/providers/elevenlabs.ts
  src/types/elevenlabs.ts
Due: lint, type-check
